name: CI with Caching

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-8e19fd1
          restore-keys: |
            cache-

      - name: prime-cache-8e19fd1
        run: echo "Cache hit? -> ${{ steps.cache.outputs.cache-hit }}"

      - name: Install dependencies
        run: npm install
